*{
    margin: 0px;
}
.header {
    background-color: white;
    width: 100vw;
    
    border-bottom: 1px solid violet;
}

.tabs-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
    margin-left: 0px;
    
    margin-bottom: 0px;
}
.tab {
    font-size: "Roboto";
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    
}
.active{
border-bottom: 3px solid blueviolet;
color: blue;
}
.line {
border: 1px solid violet;
}